
@import 'helper';
@import 'menu';


//global
*{
    box-sizing: border-box;
    outline: none
}

a{
    text-decoration: none;
    color: setTextColor($backgroundColor);
}

h1, h2, h3{
    font-weight: 400;
    &.name{
        font-size: 50px;
    }
    &.job{
        padding: 5px 10px;
        background-color: rgba(lighten($backgroundColor, 2), .5)
    }
}

ul{
    list-style: none;
}

body{
    @include background;
    background-color: $backgroundColor;
    color: setTextColor($backgroundColor) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.upper{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

.center{
    text-align: center;
}
// end global

// start header
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
// end header

// start main of home
main{
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px);
    color: setTextColor($backgroundColor);
    .colored{
        color: $mainColor
    }
    .icons{
        a{
            padding: 5px;
            &:hover{
                color: $mainColor;
                @include easeOut;
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}

//about page
.info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'info-image info-text info-text'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    .info-image{
        grid-area: info-image;
        width: 150px;
        height: 150px;
        margin: auto;
        border: 3px solid $mainColor;
        border-radius: 50%;
    }
    .info-text{
        grid-area: info-text;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .job1{
        grid-area: job1
    }
    .job2{
        grid-area: job2
    }
    .job3{
        grid-area: job3
    }
    .job{
        background-color: lighten($backgroundColor, 5);
        padding: 10px;
        border-bottom: 5px solid $mainColor;
        ol li{
            line-height: 1.5;
        }
    }

}


//start projects page
.my-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    img{
        width: 100%;
        height: 200px;
        border: 3px solid #fff;//setTextColor($backgroundColor);
        &:hover{
            border-color: $mainColor;
            opacity: .5;
            @include easeOut;
        }
    }
    .btn-light{
        @extend .btn;
        background-color: lighten($backgroundColor, 50);
        color: #333;
    }
    .btn-dark{
        @extend .btn;
        background-color: darken($backgroundColor, 50);
        color: #fff;
    }
}

// contact page
.boxes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    div{
        border: 3px solid #fff;
        padding: 1.5rem 2rem;
        margin-bottom: 50px;
        font-size: 2rem;
        @include easeOut;
        &:hover{
            background-color: $mainColor;
            padding: .5rem 1.5rem;
            color: setTextColor($mainColor);
            span{
                color: setTextColor($mainColor);
            }
        }
    }
}

// button styles
.btn{
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    &:hover{
        background-color: $mainColor;
        color: setTextColor($mainColor);
        @include easeOut;
    }
}

//start footer
footer{
    background-color: darken($backgroundColor, 10);
    color: setTextColor($backgroundColor);
    padding: 20px;
    height: 60px;
    text-align: center;
}


@import 'media';